@import "tailwindcss";
@source "./ocs.html";

@font-face {
	font-family: "Atkinson Hyperlegible Next";
	src: url(AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}

* {
	color: black;
	font-family: "Atkinson Hyperlegible Next" !important;
	margin: 0;
}

@page {
	margin: 0;
}

html {
	background-color: darksalmon;
}

body {
	background-color: aliceblue;
}

div {
	background-color: silver;
}

.debug {
	background-color: green;
}

@layer components {
	.debug {
		@apply underline text-center text-3xl text-gray-500;
	}
}
