@import "tailwindcss";
@source "./ocs.html";

@font-face {
	font-family: "Atkinson Hyperlegible Next";
	src: url(AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}

@page {
	/* margin: 0; */
	@bottom-center {
		background: #fbc847;
		content: counter(page);
		height: 1cm;
		text-align: center;
		width: 1cm;
	}
}

html {
	background-color: darksalmon;
	font-family: "Atkinson Hyperlegible Next" !important;
}

body {
	background-color: aliceblue;
	margin: 0;
}

div {
	background-color: silver;
}

.debug {
	background-color: green;
}

@layer components {
	.debug {
		@apply underline text-center text-3xl text-gray-500;
	}
}
