@import "tailwindcss";
@source "../out/jinja2.html";

@font-face {
	font-family: "Atkinson Hyperlegible Next";
	src: url(AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}

/* @page {
	@bottom-center {
		background: #fbc847;
		content: counter(page);
		height: 1cm;
		text-align: center;
		width: 1cm;
	}
} */

@page {
	size: 8.5in 11in;
	margin: 0.75in;
}

@page :left {
	@bottom-left {
		content: counter(page);
	}
}
@page :right {
	@bottom-right {
		content: counter(page);
	}
}
@page :first {
	@bottom-left {
		content: normal;
	}
	@bottom-right {
		content: normal;
	}
}

html {
	/* background-color: #ddd; */
	font-family: "Atkinson Hyperlegible Next" !important;
	font-size: 12pt;
}

.debug {
	background-color: green;
}

@layer components {
	ul li {
		@apply list-disc ml-4;
	}

	ol li {
		@apply list-decimal ml-4;
	}

	.debug {
		@apply underline text-center text-3xl text-gray-500;
	}
}

/* flexbox troubles */
/* https://stackoverflow.com/questions/38223879/white-space-nowrap-breaks-flexbox-layout */
/* https://github.com/Kozea/WeasyPrint/issues/1665#issuecomment-2139068800 */
/*`min-w-0` KINDA works but still overflows */
/* `ml-4 first:ml-0` is pretty good */
/* .item:first-child {
	margin: 0 4px 0 0;
}

.item:last-child {
	margin: 0 0 0 4px;
}

.item:first-child:last-child {
	margin: 0 0 0 0;
} */
