@import "tailwindcss";
@source "./ocs.html";

@font-face {
	font-family: "Atkinson Hyperlegible Next";
	src: url(AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}

@page {
	/* margin: 0; */
	@bottom-center {
		background: #fbc847;
		content: counter(page);
		height: 1cm;
		text-align: center;
		width: 1cm;
	}
}

html {
	background-color: #ddd;
	font-family: "Atkinson Hyperlegible Next" !important;
}

.debug {
	background-color: green;
}

@layer components {
	li {
		@apply list-disc ml-4;
	}

	.debug {
		@apply underline text-center text-3xl text-gray-500;
	}
}

.oc-card {
	padding: 2cm;
}

/* https://github.com/Kozea/WeasyPrint/issues/1665#issuecomment-2139068800 */
/*`min-w-0` KINDA works but still overflows */
.item:first-child {
	margin: 0 4px 0 0;
}

.item:last-child {
	margin: 0 0 0 4px;
}

.item:first-child:last-child {
	margin: 0 0 0 0;
}
